<% title " - Reset Password"  %>

<div id="sub_content">
  <div class="container">
    <div class="sigup-form" style="width:400px;margin: 0 auto;">
      <h2>Reset Password</h2>
      <%= form_tag password_resets_path, :method => :post do %>
        <br />
        <%= text_field_tag :email, params[:email], :placeholder => "Email", :class => "input-large" %>
        <br /><br/>
        <%= link_to "javascript:void(0);", :class => "small_btn-org banner_two_btn left-mrgn", :onclick => "$(this).closest('form').submit();return false;" do %>
          <span class="small_blk-org">Submit</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br/><br/>
<div class="clear"></div>
