<!-- **Home Content** -->
<article id="home-banner" class="content">
  <div class="pattern">
    <!-- **Container** -->
    <div class="container">

      <hgroup class="main-title">
        <h1>EASILY SEND TEXT AND CALL ALERTS</h1>
      </hgroup>

      <div class="hr-invisible"> </div>

      <!-- **Work Flow Column** -->
      <div class="column one-fourth">
        <div class="work-flow">
          <div class="rounded-icon"> <span class="pen-icon"> </span> </div>
          <h5> 01. Select Recipients </h5>
          <p> Upload an Excel file, add contacts individually or have subscribers text a keyword to join your list. </p>
        </div>
      </div><!-- **Work Flow Column - End** -->

      <!-- **Work Flow Column** -->
      <div class="column one-fourth">
        <div class="work-flow">
          <div class="rounded-icon"> <span class="write-icon"> </span> </div>
          <h5> 02. Write or Record a Message </h5>
          <p> Write a text message, upload an audio file or use our call-in recording line to select the message to send. </p>
        </div>
      </div><!-- **Work Flow Column - End** -->

      <!-- **Work Flow Column** -->
      <div class="column one-fourth">
        <div class="work-flow">
          <div class="rounded-icon"> <span class="clock-icon"> </span> </div>
          <h5> 03. Set Delivery Options </h5>
          <p> Set your own Caller ID, select a delivery speed, schedule a time (or send immediately), and send a test message. </p>
        </div>
      </div><!-- **Work Flow Column - End** -->

      <!-- **Work Flow Column** -->
      <div class="column one-fourth last">
        <div class="work-flow">
          <div class="rounded-icon"> <span class="mail-icon"> </span> </div>
          <h5> 04. Monitor Results in Real-Time </h5>
          <p> Track how fast your messages are being delivered, see how long people listen to your call and make improvements for your next message. </p>
        </div>
      </div><!-- **Work Flow Column - End** -->

    </div> <!-- **Container - End** -->
    <div class="home-shadow"> </div>
  </div>
</article><!-- **Home Content - End** -->