<div class="title_big">
  <h2>Our<span> Pricing</span></h2>
</div>


<!-- pricing table -->
<div class="pricing_box">
  <div class="pricing_container">
    <div class="headlilnes pricing-headline-font">
      <div class="single-headline first-headline">
        FEATURES
      </div>
      <div class="single-headline second-headline">
        1.5&cent;
        <div class="small">Per Text or Call</div>
      </div>
      <div class="single-headline third-headline">
        WHY US?
      </div>
      <div class="clear"></div>
    </div>
    <div class="descriptions description-font">
      <div class="single-description first-description">
        <ul class="feature-listing">
          <li>
             Unlimited Keywords
          </li>
          <li>
            Real Time Analytics
          </li>
          <li>
            Set Caller ID
          </li>
          <li>
            Video Tutorials
          </li>
          <li>
            Unlimited Calls/Texts
          </li>
        </ul>
      </div>
      <div class="single-description second-description">
        <span>No Monthly Fees!</span><br />
        No Hidden Charges!<br />
        Unlimited Messages!<br />
        <%= link_to "", register_path, :class => "button-free-trial" %>
      </div>
      <div class="single-description third-description">
        So why <strong>RoboCent?</strong> 
        Because we have the most user-friendly system on the market with
        unbeatable value. Pay only for the message you send -- no monthly fees
        and no hidden charges!
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!--/ pricing table -->