<div class="title_big">
  <h2>Our<span> Pricing</span></h2>
</div>


<!-- pricing table -->
<div class="pricing_box">
  <div class="pricing_container">
    <div class="headlilnes pricing-headline-font">
      <div class="single-headline first-headline">
        FEATURES
      </div>
      <div class="single-headline second-headline">
        1.5&cent; /call or text
      </div>
      <div class="single-headline third-headline">
        WHY US?
      </div>
      <div class="clear"></div>
    </div>
    <div class="descriptions description-font">
      <div class="single-description first-description">
        <ul class="feature-listing">
          <li>
            Notification Dashboard
          </li>
          <li>
            Audio Recording Line
          </li>
          <li>
            Set Caller ID
          </li>
          <li>
            Real Time Analytics
          </li>
          <li>
            Unlimited Calls/Texts
          </li>
        </ul>
      </div>
      <div class="single-description second-description">
        <span>$5/month</span><br />
        14 Day Free Trial<br />
        500 Free Texts/Calls<br />
        <%= link_to "", register_path, :class => "button-free-trial" %>
      </div>
      <div class="single-description third-description">
        So why <strong>RoboCent?</strong> Because we have all-inclusive pricing and unbeatable value. RoboCent provides inexpensive notifications that deliver results -- all through the most streamlined and user-friendly dashboard on the market.
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!--/ pricing table -->