<% title " - Texting & Calling Solutions" %>

<%= render "home_new_header" %>

<div class="middle full_width">
  <div class="container_12" style="padding-top:0px">

    <!-- Content -->
    <div class="content">
      <div class="post-detail">
        <div class="entry">

          <%= render 'pricing_table' %>

          <div class="divider_big"></div>

          <p class="text-center">
            <%= link_to "CREATE AN ACCOUNT", register_path, :class => "btn tf_btn_red" %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to "VIEW OUR SOLUTIONS", solutions_path, :class => "btn tf_btn_green" %>
          </p>
        </div>
      </div>
    </div>
    <!--/ content -->

  </div>
</div>
