<% title " - SMSPrivacy" %>

<div class="header header_thin">
  <div class="container_12">
    <div class="breadcrumbs">
      <%= link_to "Homepage", root_path %>
      <span class="separator">&nbsp;</span>
      SMSPrivacy
    </div>
  </div>
</div>

<div class="middle full_width">
  <div class="container_12">
    <!-- content -->
    <div class="content">
      <h4>Introduction</h4>
      <div class="row">
        The following policies, as well as the RoboCent Terms and Conditions and SMS Messaging Policy, govern the acceptable use and policies of RoboCent.com and the RoboCent platform "the Platform." In summary, all data collected, stored or in any way used by the RoboCent platform is strictly confidential and will never be sold or utilized for any other purpose than executing the services provided by RoboCent to you, the client. If you have received a text message from RoboCent, please know that your information was provided to us by the organization who sent the message; we do not sell or provide lists or data to our clients.
      </div>

      <div class="divider_space_thin"></div>

      <h4>Collection of Information</h4>
      <div class="row">
        In order to visit the dashboard of RoboCent.com or utilize the platform, you must provide your name, email, organization name, contact phone number, time zone, a credit card to be kept on secure file and any other information required during registration. This information will not be sold or in any way distributed for any purpose other than RoboCent's marketing, customer service and other services outlined in our Terms and Conditions.
        <br/><br/>
        Any contact lists, information or other data uploaded to the RoboCent system remains the property of the client and will not be utilized for any other purpose than executing the client's calls or texts.
        <br/><br/>
        RoboCent reserves the right to disclose your information during the following instances:
        <br/><br/>
        <dd>
          During any legal action, including investigations by law enforcement, RoboCent reserves the right to disclose any and all information provided to RoboCent from any client. This information includes, but is not limited to, billing information, information on contacts as well as any personally identifiable information.
        </dd>
        <br/>
        <dd>
          In the event of a merger or acquisition, RoboCent reserves the right to pass on all available information to RoboCent's successor, parent company or other entity that acquires RoboCent.
        </dd>
      </div>

      <div class="divider_space_thin"></div>

      <h4>Your Personal Information</h4>
      <div class="row">
        If you would like access to the personal information RoboCent has on file, please send an email to info@RoboCent.com. You may also access or update this information on our platform. Your information is stored while your account is active and as long as necessary for RoboCent to comply with legal obligations.
      </div>

      <div class="divider_space_thin"></div>

      <h4>Non-Personally Identifiable Information</h4>
      <div class="row">
        RoboCent also collects and utilizes non-personally identifiable information such as the refering website, location, time and duration of the visit from Google Analytics. This information is utilized to help us better understand our customers and improve our services. This information is not personally identifiable or traceable. For more information or to opt out of Google's cookies, please visit GoogleAnalytics.com.
      </div>

      <div class="divider_space_thin"></div>

      <h4>Links to Other Websites</h4>
      <div class="row">
        RoboCent may have links to other websites find on RoboCent.com and on our platform. RoboCent is not responsible for, in control of or makes warranty of the security or use of these third party websites. You are responsible for researching their secuity policy, terms of use and privacy information. You agree to navigate to these sites at your own risk.
      </div>

      <div class="divider_space_thin"></div>

      <h4>Security</h4>
      <div class="row">
        Your security is of the utmost importance to RoboCent -- we routinely review and test our security procedures to ensure your information is safely and securely stored. All credit card and billing transactions are processed and stored on a third-party vendor, Stripe.com, which has the best security reviews and procedures in the industry. While RoboCent is not responsible for Stripe's security procedures, you should have the confidence in knowing that we have taken all reasonable precautions to ensuring your financial information is kept safe.
        <br/><br/>
        By visiting RoboCent.com or utilizing our platform, you hereby agree to this privacy policy. RoboCent may update the privacy policy and terms and conditions at anytime, without notice to the client. It remains the client's responsibility to periodically check these policies and adhere to any changes. 
        <br/><br/>
        The client must be 18 years or older to visit RoboCent.com or utilize the platform.
        <br/><br/>
        If you have any questions, please contact info@RoboCent.com.
      </div>

      <div class="divider_space"></div>

      <div class="clear"></div>
    </div>
    <!--/ content -->
    <div class="clear"></div>
  </div>
</div>
