<% title " - SMSTerms" %>

<div class="middle full_width">
  <div class="container_12">
    <!-- content -->
    <div class="content smsterms">
      <h1 class="page-sub-heading">SMS Terms</h1>
      <h2>Introduction</h2>
      <div class="row">
        The RoboCent platform enables organizations to send text messages to its subscribers on an opt-in basis. Only permission-based lists are allowed to be texted; consumer data, purchased lists, or any other non-permission based lists are NOT allowed on the RoboCent system. If you have been added to an organization's list in error or no longer wish to receive text updates, you may permanently unsubscribe from all text messages sent through the RoboCent system by sending the word, "STOP" to the short code 47543.
      </div>

      <div class="divider_space_thin"></div>

      <h2>Unwanted Messages or <span class="orange">"SPAM"</span></h2>
      <div class="row">
        An organization may only send a text to a subscriber if given explicet, written permission from the recipient -- any message that is sent without such permission or for a purpose not explained to the recipient prior to their subscription, is considered spam. If an organization receives excessive spam complaints (in excess of 1% of recipients unsubscribing or complaining about any message), the organization's RoboCent platform will be deactivated and no refund will be issued.
      </div>

      <div class="divider_space_thin"></div>

      <h2><span class="green">Additional</span> Policy Information</h2>
      <div class="row">
        Purchased lists, consumer data, voter databases and all other non-permission based lists are explicitly forbidden from the RoboCent platform. Only permission-based lists with prior written consent are allowed to be sent messages.  All messages must be germane to the purpose the organization gave the recipient at time of opt-in. If you are receiving text messages from a RoboCent short code and you did not grant permission before hand, please report it to the contact information below.
      </div>

      <div class="divider_space_thin"></div>

      <h2>Reporting <span class="orange">Abuse</span></h2>
      <div class="row">
        If you are receiving messages from an organization that is not following the conditions outlined above, please send an email to abuse@RoboCent.com with the phone number you would like removed from the system, the name of the organization sending the message, and any additional details you would like to provide. All complaints are strictly confidential.
        <br/><br/>
        You may also permanently remove yourself from the RoboCent system by sending "STOP" to 47543.
        <br/><br/>
        If you ever have any questions about this policy, please do not hesitate to contact us at info@RoboCent.com. Thanks for your time!
      </div>

      <div class="divider_space_last"></div>
      
      <div class="clear"></div>
    </div>
    <!--/ content -->
    <div class="clear"></div>
  </div>
</div>
