<% title " - Solutions" %>

<div id="sub_content">
  <div class="container">

    <div class="cld_services">
      <div class="top_sec"></div>
      <div class="mid_sec">
        <ul>
          <li class="customizable"><span>Emergency Alerts</span></li>
          <li class="pricing"><span>Text Advertising</span></li>
          <li class="money_back"><span>Political Calls</span></li>
          <li class="support"><span>Appt. Reminders</span></li>
          <li class="hosting"><span>Text Comment Line</span></li>
          <li class="trafic"><span>Group Alerts</span></li>
          <li class="vip"><span>Event Notifications</span></li>
          <li class="great last"><span>1,000's of Other Uses!</span></li>
        </ul>
      </div>
      <img src="images/cloud_services_bot.png" alt="" />
    </div>

    <div class="right_text">

      <div class="text">
        <h2>Cloud-Based Text and Call Notifications from RoboCent</h2>
        <p>By basing our platform in the cloud, RoboCent has developed the most reliable, efficient and affordable system on the market. </p>
      </div>

      <div class="text last">
        <h2>Most User-Friendly Platform on the Market</h2>
        <p>Once you've created an account, it will take less than 5 clicks to send out each text or call alert through RoboCent!</p>
      </div>

      <div class="feature">
        <ul>
          <li>Add subscribers individually, from a spreadsheet or text a keyword to join.</li>
          <li>Send up to 2,400 texts per minute and 4,000 calls per minute.</li>
          <li>Live support available 7 days a week.</li>
          <li>Monitor Real-Time Analytics for all Calls and Texts</li>
        </ul>
      </div>
      <div class="clear"></div>

      <div class="question">
        <h3>ARE YOU INTERESTED?</h3>
        <%= link_to "#content", :class => "btn-grn faq_btn" do %>
          <span class="blk-grn">Sign&nbsp;Up&nbsp;Now!</span>
        <% end %>
        <div class="clear"></div>
      </div>

    </div>

  </div>
  <div  class="clear"></div>

  <%= render 'shared/pricing_table' %>
  <%= render "shared/sign_up_popup" %>

</div>