<% title " - Terms & Conditions" %>

<div class="middle cols2">
  <div class="container_12 long-top two-row-desc-page">

    <!-- content -->
    <div class="content page-float-content">

      <div class="post-item post-detail">
        <h1 class="page-sub-heading">RoboCent Terms of Use</h1>

        <div class="entry">


          <h4><span class="orange">Updated</span>: January 30, 2013</h4>

          <p>
            These terms of use govern your access to and use of the various services provided by RoboCent, including, but not limited to RoboCent’s various websites, SMS, APIs, email notifications, applications, buttons, widgets, and/or the transmission of any messages to third parties through the RoboCent system (the "Services"), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing in connection or in relation to your use of the Services (collectively referred to as "Content"). Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services provided by RoboCent, its affiliates, subsidiaries you agree to be bound by these Terms.  When used herein the term “RoboCent” includes RoboCent, Inc. and any affiliates, subsidiaries, related third parties as well as all directors, officers, employees, managers and agents of the same.  When used herein “you” or “your” includes any person, entity or partnership who accesses or uses the Services and any affiliates, subsidiaries, related third parties as well as all directors, officers, employees, managers and agents of the same.
          </p>


          <h3>Introduction</h3>

          <p>
            You are responsible for your use of the Services, for any Content you transmitted using the RoboCent Services, and for any consequences thereof. The Content you submit, post, or display will be able to be viewed by third parties provided by you to RoboCent.  You shall only provide Content that you are comfortable sharing as if it was transmitted solely by you under these Terms.
            <br/><br/>
            You may use the Services only if you can form a binding contract with RoboCent and are not a person barred from receiving services under the laws of the United States or other applicable jurisdiction. If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations.
            <br/><br/>
            The Services that RoboCent provides are always evolving and the form and nature of the Services that Twitter provides may change from time to time without prior notice to you. In addition, RoboCent may stop or suspend (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use of the Services at the sole discretion of RoboCent at any time without prior notice to you.
            <br/><br/>
            The Services may include advertisements, which may be targeted to the Content or information on the Services, queries made through the Services, or other information.  In consideration of RoboCent granting you access to and use of the Services, you agree that RoboCent and its third party providers and partners may place such advertising on the Services or in connection with the display of Content or information from the Services whether submitted by you or others. 
          </p>


          <h3><span class="green">IP Ownership</span> and Limited License</h3>

          <p>
            RoboCent is the sole owner of the rights, title and interest in all the Services and related Intellectual Property of the RoboCent system. For the purposes of this herein, “Intellectual Property” shall include all forms of intellectual property and rights recognized under the laws of the United States, any and all states within the United States and/or any foreign jurisdiction where the Services are being provided or used. These include, but are not limited to, patents, trademarks, trade dress, service marks, copyrights, or any other confidential information disclosed to the clients. Any feedback, comments, or suggestions you may provide regarding RoboCent or its Services are entirely voluntary, and RoboCent is free to use such feedback, comments, or suggestions as it sees fit and without any obligations.
          </p>

          <h3>Privacy</h3>

          <p>
            Any information that you provide to RoboCent is subject to our Privacy Policy, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by RoboCent. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services, which you may not be able to opt-out from receiving.
          </p>


          <h3>Access to the <span class="orange">RoboCent</span> System</h3>
          <p>
            RoboCent hereby grants you a revocable, nontransferable and nonexclusive license to use the RoboCent platform for distributing automated messages. You may not sublicense, modify, or reverse engineer any portion of the RoboCent platform. RoboCent reserves the right to revoke access to the platform, the Services and any Content.
          </p>


          <h3><span class="green">Fees</span> and Billing</h3>
          <p>
            RoboCent’s platform operates on a pre-paid, credit basis. You hereby agrees to pay the RoboCent’s posted rates for adding credits to the system. Should your account balance, for any reason, remain unpaid for more than 5 days, you hereby consent to a $50.00 late fee will be assessed for failure to pay. If, after 30 days, the account balance remains unpaid, RoboCent may terminate your access to the Services and Content and charge a ten-percent (10%) interest rate on any unpaid balance, or the maximum amount under state law.
            <br/><br/>
            Any and all payments made to RoboCent in connection with the Services are final and non-refundable. RoboCent reserves the right to modify its payment system at any time, with or without notice to the client. 
          </p>

          <h3>Limitation of <span class="orange">Liability</span></h3>
          <p>
            TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ROBOCENT AND ITS SUBSIDIARIES OR AFFILIATES, OR ANY OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS OF THE SAME SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE ANY SERVICES PROVIDED BY ROBOCENT; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE ROBOCENT OR ANY THIRD PARTY; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT USING ROBOCENT SERVICES.
            <br/><br/>
            IN NO EVENT SHALL THE AGGREGATE LIABILITY OF ROBOCENT AND ITS SUBSIDIARIES OR AFFILIATES, OR ANY OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT PAID TO ROBOCENT FOR ITS SERVICES, IF ANY, IN THE PAST SIX MONTHS FOR THE SERVICES GIVING RISE TO THE CLAIM.
            <br/><br/>
            THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE TWITTER ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
          </p>


          <h3>Disclaimer of <span class="green">Warranty</span></h3>
          <p>
            All of RoboCent’s Services are provided “as-is” and RoboCent offers no warranty, expressed or implied, that all services will meet the client’s requirements, or that the Services will be uninterrupted, timely, error free or that any defects in the service will be corrected.  RoboCent does not make any warranty pertaining to any Service or Content used in connection with your use of the Services.  RoboCent does not warrant the accuracy or reliability of the results provided by the RoboCent platform and agrees all damages or loss of property resulting from the use of said data, spreadsheets, and results shall be the sole responsibility of the client.
            <br/><br/>
            Your access to and use of the Services or any Content are at your own risk. You understand and agree that the Services are provided to you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the foregoing, to the maximum extent permitted under applicable law, ROBOCENT DISCLAIMS ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.
            <br/><br/>
            RoboCent further makes no warranty and disclaims all responsibility and liability for: (i) the completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content; (ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services or any Content; (iii) the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services; and (iv) whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from RoboCent or through the Services, will create any warranty not expressly made herein.
          </p>

          <h3>Indemnification</h3>
          <p>
            To the maximum extent permitted by law You shall indemnify and hold harmless RoboCent, from and against all liabilities, losses, costs, expenses, attorneys’ fees, and damages resulting from any negligent acts, omissions or willful misconduct by the client, the client’s use of the service and any breach of the terms and conditions of this agreement by the client including any violation of this agreement by the client or any other person using the client’s account including but not limited to any violation of any federal or state laws or regulations.  Such indemnification shall apply to any theory of liability to any person or party, whether based on warranty, contract, statute, tort (including negligence) or otherwise, and whether or not RoboCent has been informed of the possibility of such liability.
          </p>


          <h3><span class="orange">Modification</span> to RoboCent Services</h3>
          <p>
            RoboCent reserves the right to modify or cancel any Services or remove any Content at any time for any reason, and RoboCent shall not be held liable to you or any third party for any action or inaction resulting from such modification or discontinuance. RoboCent also reserves the right to terminate or erase any data or information stored on the RoboCent system at any time and you are responsible for storing a backup of any data stored by RoboCent.
            <br/><br/>
            In any such cases, these Terms shall continue to apply in full force and effect in the event of the termination, suspension or modification of the Services provided by RoboCent..
          </p>


          <h3><span class="green">Modification</span> to Contract</h3>
          <p>
            RoboCent reserves the right to update and modify these terms at any time by posting the revisions to the RoboCent website.   You are responsible for regularly checking these terms for any changes and, by using the Services and RoboCent system after such changes are made, you hereby agree to be bound by those changes.
          </p>


          <h3>Rules, Regulations and <span class="orange">Guidelines</span></h3>
          <p>
            You are solely responsible and liable for the content of any audio, voice, sound or text transmissions sent through the RoboCent system or via the use of the Services. RoboCent has no control, nor responsibility, over such transmissions and shall not be expected to screen or otherwise approve of any transmission and, under no circumstance, shall be held liable for said content. RoboCent does not endorse, support, represent, or guarantee the truthfulness, accuracy, completeness, or reliability of said content or endorse any opinions expressed through use of its services. The user understands that by using RoboCent’s services, it may be exposed to content that might be offensive, harmful, inaccurate, or otherwise inappropriate. Under no circumstances will RoboCent be liable for any content, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of any transmitted content.
          </p>

          <p>
            You shall not use RoboCent’s services to distribute any material (sound files, audio, voices, text messages), that may be construed by any recipient as obscene, hate speech, racist, malicious, fraudulent, libelous, or harassing, nor shall the client use the said services for any unethical, immoral or illegal activity. RoboCent reserves the right (but does not have an obligation) to remove or refuse to distribute any content on the services and to suspend or terminate users without liability. RoboCent also reserves the right to access, read, preserve, and disclose any information it reasonably believes is necessary to satisfy any applicable law, regulation, process, or government request; enforce its terms, including investigation of potential violations; detect, prevent, or otherwise address fraud, security, or technical issues; respond to support requests, and to protect its rights, property, or safety and the rights, property, or safety of its users or the public.
          </p>

          <p>
            You agree to abide by all guidelines, rules and policies of RoboCent and of the carriers connected to its Services.  You are responsible for abiding by the rules, regulations and guidelines set forth by any state and federal law related to the use of the Services and any related transmission and such other laws which may include, but are not limited to, the Federal Trade Commission, the Federal Communication Commission, the United States Code, State Governments, and any local ordinances. Specifically, you are aware and will abide by the National Do Not Call Registry and individual states’ “Do Not Lists”. You agree not violate these or any other applicable Federal or State laws and represents and warrants that the Client’s use of RoboCent will not cause RoboCent to violate these or similar laws.
          </p>

          <p>
            You agree, that in connection with the Services, all recipient contact information and numbers supplied to RoboCent is “opt-in” information given by the recipient and you will not call, text or communicate with any recipient cell phone or mobile device without the expressed written permission of the recipient.
          </p>

          <p>
            You are aware and understand the anti-solicitation provisions of various state and federal laws and all amendments thereto of laws which include, but are not limited to the Federal Communication Commission’s regulations of the Federal Telephone Consumer Protection Act of 1991. You agree to not violate these provisions and represents and warrents that its use of RoboCent’s services will not cause RoboCent to violate these or similar laws.
          </p>

          <p>
            You understand and agree that RoboCent will not be held responsible for any damages or fines for which you may be held liable to any third party due to the your failure to abide by these terms or any related state, federal or local law. You may view and refer to most, but not all, of these related regulations at the Federal Communications Commission’s Web site at http://www.fcc.gov and the Federal Trade Commission Web site at http://www.ftc.gov.
          </p>

          <p>
            Please refer to your specific state’s Attorney General’s office or local government for any laws imposed at the State or local level.
          </p>

          <p>
            You agree and will be held responsible for any act or omission that occurs in connection with your use of the Services, including the content transmission through the RoboCent system. You agree to not use the RoboCent system to:
          </p>

          <ol>
            <li>
              Deliver unsolicited messages (spam) in any form, including, but not limited to, the use of serial accounts, invitation spam, selling user names, malware/phishing, or any other form of spam.
            </li>
            <li>
              Create a false identity in an attempt to mislead others as to the identity of the sender.
            </li>
            <li>
              Transmit unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene or otherwise objectionable material of any kind or nature.
            </li>
            <li>
              Transmit any material that may infringe the intellectual property rights or other rights of third parties, including, but not limited to, trademark, copyright, trade secrets or rights of publicity.
            </li>
          </ol>

          <p>
            These specific rules are not exhaustive and may be added to or amended and are not intended to represent the entirety of all the prohibited messages that could be sent through the RoboCent system.
          </p>

          <p>
            You agree not to use RoboCent’s Services to:
          </p>

          <ol>
            <li>
              Access, tamper with, or use non-public areas of the services, RoboCent’s computer systems, or its delivery processes;
            </li>
            <li>
              Probe, scan, or test the vulnerability of any system or network or breach or circumvent the security or authentication measures;
            </li>
            <li>
              Access or search or attempt to access or search the services by any means other than those specifically provided by RoboCent;
            </li>
            <li>
              Forge any TCP/IP header in any email or posting, or in any way use the services to send altered, deceptive, or false source-identifying information; or
            </li>
            <li>
              Interfere with or disrupt the access of any user.
            </li>
          </ol>

          <p>
            The Services may contain links to third-party websites or resources. You acknowledge and agree that RoboCent is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by RoboCent of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources in connection with the Services.
          </p>

          <p>
            RoboCent respects the intellectual property rights of others and expects users of the Services to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your Content has been copied in a way that constitutes copyright infringement, please provide us with the following information: (i) a physical or electronic signature of the copyright owner or a person authorized to act on their behalf; (ii) identification of the copyrighted work claimed to have been infringed; (iii) identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material; (iv) your contact information, including your address, telephone number, and an email address; (v) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and (vi) a statement that the information in the notification is accurate, and, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.
          </p>

          <h3>Registration</h3>
          <p>
            You will provide and update all relevant information to RoboCent upon signing up for the RoboCent system. You agree that you and/or your organization or entity shall assume all financial responsibilities for using the RoboCent system.
          </p>


          <h3>General <span class="green">Provisions</span></h3>
          <p>
            These Terms, and the RoboCent
            <%= link_to "Privacy Policy", sms_privacy_path, :target => "_blank" %>
            are the entire and exclusive agreement between RoboCent and you regarding the Services (excluding any services for which you have a separate agreement with RoboCent that is explicitly in addition or in place of these Terms), and these terms supersede and replace any prior agreements between RoboCent and you regarding the Services. Other than RoboCent as defined herein, no other person or company will be third party beneficiaries to these terms.
          </p>

          <p>
            RoboCent may revise these terms from time to time, the most current version will always be posted on the RoboCent website. By continuing to access or use the Services after any revisions become effective, you agree to be bound by the revised Terms.
          </p>

          <p>
            The failure of RoboCent to enforce any right or provision of these terms will not be deemed a waiver of such right or provision. In the event that any provision of these terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these terms will remain in full force and effect.
          </p>

          <p>
            These terms and any action related thereto will be governed by the laws of the State of Virginia without regard to or application of its conflict of law provisions or your state or country of residence. All claims, legal proceedings or litigation arising in connection with the Services will be brought solely in the federal or state courts located in Virginia Beach, Virginia, United States, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum.
          </p>

          <p>
            If you are a government official, federal, state, or local government entity in the United States using the Services in your official capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply to you. For such U.S. federal government entities, these Terms and any action related thereto will be governed by the laws of the United States of America (without reference to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of California (excluding choice of law).
          </p>

          <p>
            These terms and the RoboCent
            <%= link_to "Privacy Policy", sms_privacy_path, :target => "_blank" %>
            are the entire and exclusive agreement between RoboCent and you regarding the Services (excluding any services for which you have a separate agreement with RoboCent that is explicitly in addition or in place of these Terms), and these terms supersede and replace any prior agreements between RoboCent and you regarding the Services.
          </p>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!--/ content -->

    <!-- sidebar -->
    <%= render "shared/location" %>
    <!--/ sidebar -->

    <div class="clear"></div>
  </div>
</div>