<% if @numbers.size > 0 %>
  <%= fields_for @twilio_phone_number ||= TwilioPhoneNumber.new do |t| %>
    <%= t.select :phone_number, @numbers %>
  <% end %>
<% else %>
  <span class="widget_header_title">No Available Numbers in Area Code <%= @area_code %></span>
<% end %>