<div id="banner">
  <div id="content"><div id="content_inner">
      <!-- end intro -->
      <!-- end sidebar_right -->
      <ul id="slides1">
        <li>
          <div class="content_two">
            <%= image_tag "smarthost/banner_man.png", :alt => "", :border => "0", :class => "man" %>
            <div class="text">
              <p>The Most User Friendly</p>
              <h1>TEXT AND CALL PLATFORM</h1>
              <p>On The Market</p>
              <div class="buttons">
                <%= email_field_tag "email", nil, :placeholder => "Email", :class => "try-now-email" %>
                <%= password_field_tag "email", nil, :placeholder => "Password", :class => "try-now-password" %>
                <%= link_to "", :class => "small_btn-gry banner_two_btn left-mrgn" do %>
                  <span class="small_blk-gry">Try&nbsp;now</span>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>