<footer>
  <div class="wrapper">
    <span class="copyright">
      <a href="#" onClick="return SnapABug.startLink();" style="color: #B9B9B9">Live Chat 24 / 7</a>
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="copyright">
	Support: 757 821 2121
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="copyright">
	COPYRIGHT © 2012  | RoboCent, Inc.
    </span>
  </div>
</footer>

<script type="text/javascript">
  document.write(unescape("%3Cscript src='//www.snapengage.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  SnapABug.setButton("http://toucantwin.com/images/live-chat.png");
  SnapABug.addButton("9843552f-3b65-481c-850a-78b1e037bb57","1","50%");
</script>

<script type="text/javascript">
  document.write(unescape("%3Cscript src='//www.snapengage.com/snapabug.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  SnapABug.setButton("http://toucantwin.com/images/live-chat.png");
  SnapABug.init('9843552f-3b65-481c-850a-78b1e037bb57');
</script>