<header class="main_header">
  <div class="wrapper">
    <div class="logo">
      <%= link_to image_tag("next-logo.png"), dashboard_path %>
    </div>
    <div class="right-stat">
      <%  @calls = current_user.calls.find(:first, :select => "SUM(number_of_recipients) as total_call") %>
      <span class="col widget_header_title">
        <% @call_count =  @calls.present? ? @calls.total_call.to_i : 0 %>
        <%= pluralize(@call_count, "Call") %>
        Sent
      </span>
      <% @texts = current_user.text_messages.find(:first, :select => "SUM(number_of_texts_required) as total_text")  %>
      <% @sms_count = current_user.sms_messages.where(:status => "received").count %>
      <span class="col widget_header_title">
        <% @text_count =  @texts.present? ? (@texts.total_text.to_i + @sms_count) : 0 %>
        <%= pluralize(@text_count, "Texts") %>
        Sent
      </span>
    </div>
  </div>
</header>

<style type="text/css">
  .right-stat{
    float: right;
    width: 700px;
    padding-top: 25px;
    text-align: right;
  }

  .right-stat .col{
    float:right;
    text-align: right;
    padding-left: 30px;
    font-size: 20px;
  }
</style>