<div class="sidebar">
  <div class="sidebar_inner">

    <div class="widget-container widget_contact">
      <h3 class="widget-title"><span class="orange">RoboCent, Inc.</span></h3>
      <div class="inner">
        <div class="contact-address">111 Granby Street<br/>Norfolk, VA 23510</div>
        <div class="contact-phone"><span>Phone:</span> 757.821.2121</div>
        <div class="contact-mail"><span>Email:</span> info@robocent.com</div>

        <div class="contact-social">
          <div><strong>Call us on:</strong> <br/>
            <%= link_to image_tag("smarthost/btn_skype.png"), "#", :onClick => "return SnapABug.startLink();" %>
          </div>
          <div><strong>Follow on:</strong> <br/>
            <%= link_to image_tag("smarthost/btn_twitter.png"), "http://twitter.com/RoboCent", :target => "_blank" %>
          </div>
          <div><strong>Join us on:</strong> <br/>
            <%= link_to image_tag("smarthost/btn_facebook.png"), "https://www.facebook.com/RoboCent", :target => "_blank" %>
          </div>
          <div class="clear"></div>
        </div>

        <div class="contact-map">
          <%= image_tag("smarthost/map.png", :width => "238", :height => "237") %>
        </div>

      </div>

    </div>

  </div>
  <div class="sidebar_bottom"></div>
</div>