<div class="container">
    <%= image_tag "smarthost/HomepageLogo1.jpg", :alt => "", :border => "0", :class => "client thin-logo" %>
    <%= image_tag "smarthost/HomepageLogo2.JPG", :alt => "", :border => "0", :class => "client big-logo" %>
    <%= image_tag "smarthost/HomepageLogo3.gif", :alt => "", :border => "0", :class => "client semi-thin-logo" %>
    <%= image_tag "smarthost/HomepageLogo4.gif", :alt => "", :border => "0", :class => "client thin-logo" %>
    <div class="clear"></div>
</div>