<div class="header header_mid" style="background-color:#343637; background-image:url(/assets/public_images/pattern_pixels.png)">
  <div class="header_inner">
    <!-- header slider -->
    <div class="header_slider">

      <div class="topSlider">

        <div class="oneByOne_slide">
          <div class="slide_image animate0 fadeInUp">
            <%= image_tag("public_images/temp/slider_img_1.png") %>
          </div>
          <div class="slide_text animate1 fadeInLeft">
            <div class="slide_title"><strong>Only the Best NOTIFICATION Solutions</strong></div>
            <div class="slide_description">
              <p>We provide <strong>Quality, Inexpensive Robocalls and Bulk Texting</strong> across the U.S.</p>
            </div>
          </div>
        </div>

        <div class="oneByOne_slide">
          <div class="slide_image animate0 fadeInDown">
            <%= image_tag("public_images/temp/slider_img_2.png") %>
          </div>
          <div class="slide_text animate0 fadeInRight">
            <div class="slide_title"><strong>Get Started NOW! Calls starting at 1.3¢</strong></div>
            <div class="slide_description">
              <p>Perfect for <strong>Emergency Notifications, Small Business Marketing, and Political Campaigns</strong></p>
            </div>
            <div class="slide_list">
              <ul>
                <li>Real-Time Results</li>
                <li>Straight-Forward Pricing</li>
                <li>Set Your own Caller ID</li>
                <li>24/7 Support</li>
                <li>No Hidden Fees</li>
                <li>"Text To Join" Included</li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div class="oneByOne_slide">
          <div class="slide_image">
            <%= image_tag("public_images/temp/slider_img_3.png") %>
          </div>
          <div class="slide_text">
            <div class="slide_title"><strong>Feature-Rich Operating System</strong></div>
            <div class="slide_description">
              <p>User-Friendly<strong>Solutions that Deliver</strong> Results</p>
            </div>
            <div class="slide_list">
              <ul>
                <li>Call-In Recording System</li>
                <li>Unlimited Texts/Calls</li>
                <li>Schedule Future Notifications</li>
                <li>Video Tutorials</li>
                <li>100% User-Controlled</li>
                <li>Free Live Chat</li>
                <li>Test Before Sending</li>
                <li>Custom Settings</li>
              </ul>
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div class="oneByOne_slide">
          <div class="slide_image">
            <%= image_tag("public_images/temp/slider_img_4.png") %>
          </div>
          <div class="slide_text">
            <div class="slide_title"><strong>Easy to use Dashboard</strong></div>
            <div class="slide_description">
              <p>Set-up and <strong>Monitor Your Calls and Texts</strong> in Real-Time.</p>
            </div>
          </div>
        </div>

      </div>
      <script type="text/javascript">
        jQuery(document).ready(function($) {
          $('.topSlider').oneByOne({
            className: 'oneByOne1',
            sliderClassName: 'oneByOne_slide',
            easeType: 'random',
            slideShow: true,
            width: 940,
            height: 429,
            slideShowDelay: 5000
          });
        });
      </script>
      <!--/ topSlider -->


    </div>
    <!--/ header slider -->
  </div>

</div>