<div class="header header_top">
  <div class="container_12">

    <div class="logo">
      <%= link_to image_tag("next-logo.png", :style => "margin-top:10px"), root_path %>
    </div>

    <div class="topmenu">
      <ul class="dropdown">
        <li class="menu-item-home">
          <%= link_to content_tag(:span), root_path %>
        </li>
        <li>
          <%= link_to content_tag(:span, "Solutions"), solutions_path %>
        </li>
        <li><a href=""><span>Pricing</span></a></li>
        <li><a href=""><span>Support</span></a>
          <ul>
            <li><a href=""><span>FAQs</span></a></li>
            <li><a href=""><span>Video Tutorials</span></a></li>
            <li><a href="#" onClick="return SnapABug.startLink();"><span>Live Chat</span></a></li>
          </ul>
        </li>
        <li><a href=""><span>Contact</span></a></li>
        <li><a href=""><span>Login</span></a></li>
        <li><a href=""><span>Register</span></a></li>
      </ul>
    </div>
    <!--/ topmenu -->

  </div>
</div>