<!-- Tip Content -->
<ol id="walk-through" style="display: none;">
  <li data-text="Start" class="custom">
    <p>
      Welcome to RoboCent! Would you like to take a brief tour?
    </p>
  </li>
  <li data-class="walk-point-1" data-button="Next: Inbox" data-options="tipLocation:right">
    <p>
      From the Dashboard, you can see real-time analytics of your texts and calls along with overall stats.
    </p>
  </li>
  <li data-class="walk-point-2" data-button="Next: Contacts" data-options="tipLocation:right">
    <p>
      On the Inbox page, you can receive text feedback and interact with individual contacts.
    </p>
  </li>
  <li data-class="walk-point-3" data-button="Next: Send a Text" data-options="tipLocation:right">
    <p>
      From the Contacts page, you can set-up contact lists, text-to-join keywords and upload contacts.
    </p>
  </li>
  <li data-class="walk-point-4" data-button="Next: Send a Call" data-options="tipLocation:right">
    <p>
      On Send a Text, you can send text blasts, set delivery options and   send test messages.
    </p>
  </li>
  <li data-class="walk-point-5" data-button="Next: Billing" data-options="tipLocation:right">
    <p>
      From Send a Call, you can record messages, set delivery options and send calls.
    </p>
  </li>
  <li data-class="walk-point-6" data-button="Next: Support" data-options="tipLocation:right">
    <p>
      You can change your billing information and view recent transactions on the Billing Page.
    </p>
  </li>
  <li data-class="walk-point-7" data-button="Close" data-options="tipLocation:right">
    <p>
      If you ever have any questions, view our video tutorials or use the live chat on the Support page!
    </p>
  </li>
</ol>

<script type="text/javascript">
  $(window).load(function() {
    $('#walk-through').joyride();
  });
</script>