<div class="g_12 separator"><span></span></div>

<div class="g_12">
  <%= render 'form' %>
</div>

<script type="text/javascript">
  $(function(){
    $(".edit_contact select").uniform();

    $("form.edit_contact").submit(function(){
    var action = $(this).attr('action');
    $.ajax({
      type: 'POST',
      url: action,
      data: $(this).serialize(),
      dataType: "script"
    });
    $("#contacts-table .ajax-loading").show();
    $.fancybox.close();
    return false;
  });
  });
</script>