<div class="g_6 contents_header">
  <h3 class="i_16_ui tab_label">Add Contacts</h3>
</div>
<div class="g_4"></div>
<div class="g_2">
    <%= link_to "Back to Contacts", contacts_path, :class => "simple_buttons contact-button" %>
</div>

<div class="g_12 separator"><span></span></div>

<div class="g_12">
  <%= render 'form' %>
</div>