<div class="g_6 contents_header">
  <h3 class="i_16_table tab_label">Dashboard and Contacts Support</h3>
</div>
<div class="g_4"></div>
<div class="g_2">
  <%= link_to "Back to Support", dashboard_support_path, :class => "simple_buttons contact-button" %>
</div>

<div class="g_12 separator"><span></span></div>

<div class="g_12">
  <iframe class="youtube-player"
          type="text/html"
          width="100%" height="500"
          src="http://www.youtube.com/embed/zuJYLi5-46E"
          frameborder="0">
  </iframe>
</div>