<div class="g_6 contents_header">
  <h3 class="i_16_table tab_label">Support</h3>
</div>

<div class="g_12 separator"><span></span></div>

<div class="g_6">
  <div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_bars">Dashboard and Contacts</h4>
  </div>
  <div class="widget_contents noPadding">
    <table class="tables">
      <tr>
        <td>To get started, please view this Dashboard and Contacts overview.</td>
      </tr>
      <tr>
        <td>
          <%= link_to image_tag("dashboard/support/contacts.png"), contacts_support_path %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="g_6">
  <div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_bars">Send a Text</h4>
  </div>
  <div class="widget_contents noPadding">
    <table class="tables">
      <tr>
        <td>To learn more about our text deployment, please view this video.</td>
      </tr>
      <tr>
        <td>
          <%= link_to image_tag("dashboard/support/send_a_text.png"), send_a_text_support_path %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="g_12 separator"><span></span></div>


<div class="g_6">
  <div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_bars">Send a Call</h4>
  </div>
  <div class="widget_contents noPadding">
    <table class="tables">
      <tr>
        <td>For help with the calling portion of our platform, view this video tutorial.</td>
      </tr>
      <tr>
        <td>
          <%= link_to image_tag("dashboard/support/send_a_call.png"), send_a_call_support_path %>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="g_6">
  <div class="widget_header">
    <h4 class="widget_header_title wwIcon i_16_bars">Inbox</h4>
  </div>
  <div class="widget_contents noPadding">
    <table class="tables">
      <tr>
        <td>To learn more about our interactive messaging, view this video.</td>
      </tr>
      <tr>
        <td>
          <%= link_to image_tag("dashboard/support/inbox.png"), inbox_support_path %>
        </td>
      </tr>
    </table>
  </div>
</div>