<% title " - Client Login"  %>

<div id="sub_content">
  <div class="container">
    <div class="sigup-form" style="width:400px;margin: 0 auto;">
      <h2>Client Login</h2>
      <%= form_tag user_sessions_path do %>
      <br/>
        <%= text_field_tag :email, params[:email], :placeholder => "Email", :class => "input-large" %>
        <br /><br />
        <%= password_field_tag :password, "", :placeholder => "Password", :class => "input-large" %>
        <br /><br/>
        <%= link_to "javascript:void(0);", :class => "small_btn-org banner_two_btn left-mrgn", :onclick => "$(this).closest('form').submit();return false;" do %>
          <span class="small_blk-org">Login</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br/><br/>
<div class="clear"></div>