<% title " - Frequently Asked Questions" %>

<div class="header header_thin">
  <div class="container_12">
    <div class="breadcrumbs">
      <%= link_to "Homepage", root_path %>
      <span class="separator">&nbsp;</span>
      <a href="#">Our Hosting</a>
      <span class="separator">&nbsp;</span>
      Contact us
    </div>
  </div>
</div>

<div class="middle cols2">
  <div class="container_12">

    <!-- content -->
    <div class="content">

      <div class="post-item post-detail">

        <div class="post-title">
          <h1>Frequently Asked Questions</h1>
        </div>


      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">What's a robocall?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>An automated message sent to thousands of people simultaneously.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">How much do you charge for robocalls?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>We charge 1¢ per call for up to a 15 second message. Click 
          <%= link_to "here", pricing_path %>
          to view our full pricing.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">Do you charge on a per-call or per-connect basis?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>Per call.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">Is there a minimum order?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>There's no minimum to the number of calls you can place, but you have to buy a minumum of $20 worth of call credits.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">Are there any other fees or charges?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>Nope!</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">How many simultaneous calls can you place?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>We can place 10,000 calls at the same time.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">What format do you accept recordings?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>You can either use our recording line to make a recording or upload a .mp3 file. If you have a different sound file type, you can convert it for free <a href="http://media.io">here</a>.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">What format do you accept call lists?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>.csv (this a format within Excel. For a How-To on how to save a .csv file, click here).</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">Do you provide lists of people to call?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>No, we simply send out calls to the list you already have.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">Does your platform leave voicemails?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>Yes, RoboCent automatically leaves voicemails after the "beep" on an answering machine.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">What phone number do the robocalls come from?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>You can set the phone number and the name that display on recipients' caller IDs!</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">What type of calls can you use robocent for?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>Political and permission-based calls.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">What about the Do Not Call List?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>The Do-Not-Call list does not apply to political or permission-based calls.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">Can I call cell phone numbers?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>You may only call cell phone numbers if you have received prior permission.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">Can I make calls to leads if I include an Opt-Out?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>No, sales calls may not be sent through the platform unless you have received permission from the recipients.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">Do you provide a predictive dialer or live calling solutions?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>No, we only broadcast pre-recorded messages.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">Do I have to download software to use the platform?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>No, you may use RoboCent on any web browser.</p>
      </div>

      <div class="faq_question toggle">
        <span class="faq_q">Q:</span>
        <span class="faq_title">What if my calls are long distance, does that change the price?</span>
        <span class="ico"></span>
      </div>
      <div class="faq_answer toggle_content">
        <p>No, all calls made to the Continental United States have the same price.</p>
      </div>

    </div>


    <%= render "shared/location" %>

    <div class="clear"></div>
  </div>
</div>