<% title " - Terms & Conditions" %>

<div class="header header_thin">
  <div class="container_12">
    <div class="breadcrumbs">
      <%= link_to "Homepage", root_path %>
      <span class="separator">&nbsp;</span>
      <a href="#">Registration</a>
      <span class="separator">&nbsp;</span>
      Terms & Conditions
    </div>
  </div>
</div>

<div class="middle cols2">
  <div class="container_12">

    <!-- content -->
    <div class="content">

      <div class="post-item post-detail">

        <div class="post-title">
          <h1>Terms & Conditions</h1>
        </div>

        <div class="entry">


          <h4>Updated: September  18, 2012</h4>



          <p>This is a legal contract by and between RoboCent, LLC (“the service provider,” “we,” “us,” “RoboCent,” “the company”, “our”), a Limited Liability Company located at 1320 Harris Rd., Virginia Beach, VA 23452, and the user of RoboCent (“the customer,” “you,” “user,” “client”) that regulates the use of RoboCent’s services. By using RoboCent’s website, customer support, robocalls, robopolls and any other services RoboCent offers, you hereby agree to be bound to the provisions set forth in this agreement. RoboCent retains the sole right to change and modify this agreement at anytime.
          </p>


          <h3>Introduction</h3>

          <p>RoboCent provides automatic sound broadcasting and information delivery systems that enable users to contact thousands of recipients simultaneously.  As RoboCent sends out millions of robocalls every year, it is impossible for RoboCent to review and regulate all calls sent out through its system. As such, the burden of adhering to the pertinent laws, fees, taxes and other regulations rests solely with the user of RoboCent’s system.
          </p>


          <h3>IP Ownership and Limited License</h3>

          <p>RoboCent is the sole owner of the rights, title and interest in all the services and related Intellectual Property of the RoboCent system. For the pruposes of this agreement, “Intellectual Property” shall include all forms of intellectually property and rights recognized under the laws of the United States, any and all states within the Unied States and/or any foreign jurisdiction where the services are being provided or used. These include, but are not limited to, patents, trademarks, trade dress, service marks, copyrights, or any other confidential information disclosed to the clients.
          </p>


          <h3>Access to the RoboCent System</h3>
          <p>
            RoboCent hereby grants the client a revocable, nontransferable and nonexclusive license to use to the RoboCent platform for distributing automated messages. The client may not sublicense, modify, or reverse engineer any portion of the RoboCent platform. RoboCent reserves the right to revoke access to the client, with or without cause or breach of contract, at RoboCent’s sole discretion.
          </p>


          <h3>Fees and Billing</h3>
          <p>
            RoboCent’s platform operates on a pre-paid, credit basis. The client hereby agrees to pay the RoboCent’s posted rates for adding credits to the system. Should a client’s account balance, for any reason, go into the negative, the client is responsible for paying the negative balance within 5 business days unless a $50.00 late fee will be assessed. If, after 30 days, the account balance is still negative, RoboCent will charge 10% interest, or the maximum amount under state law, on any outstanding balance, accrued monthly.
          </p>

          <p>
            All payments made to RoboCent are final and non-refundable.
          </p>


          <h3>Limitation of Liability</h3>
          <p>
            In no event shall RoboCent, LLC be liable to the client, government or any third party for any indirect, incidental or consequential damages , regardless of if they arise under contract, warranty, or tort (including negligence or strict liability) or any other theory of liability.
          </p>

          <p>
            RoboCent’s liability for damages, regardless of the form and extent of the action, shall not exceed the charges paid by the client for RoboCent’s services. The limitation of liability reflects the allocation of risk between the parties. The limitations specified in this section will survive and apply even if any limited remedy specified in this agreement is found to have failed of its essential purpose.
          </p>


          <h3>Warranty</h3>
          <p>
            All of RoboCent’s services are provided “as-is” and RoboCent offers no warranty, expressed or implied, that all services will meet the client’s requirements,  or that the services will be uninterrupted, timely,  error free or that any defects in the service will be corrected.
          </p>

          <p>
            RoboCent does not make any warranty pertaining to any goods or services used in the execution of RoboCents’ services or any transactions with the client.
          </p>

          <p>
            RoboCent does not warrant the accuracy or reliability of the results provided by the RoboCent platform and agrees all damages or loss of property resulting from the use of said data, spreadsheets, and results shall be the sole responsibility of the client.
          </p>


          <h3>Indemnification</h3>
          <p>
            The client shall indemnify and hold harmless RoboCent, LLC and MassRoots, LLC, its directors, officers, partners, employees, owners and agents from and against all liabilities, losses, costs, expenses, attorneys’ fees, and damages resulting from any negligent acts, omissions or willful misconduct by the client, the client’s use of the service and any breach of the terms and conditions of this agreement by the client including any violation of this agreement by the client or any other person using the client’s account including but not limited to any violation of any federal or state laws or regulations.
          </p>


          <h3>Modification to RoboCent Services</h3>
          <p>
            RoboCent reserves the right to modify or cancel any services at any time for any reason and RoboCent shall not be held liable by the client or any third party for any action or inaction resulting from such modification or discontinuement. RoboCent also reserves the right to terminate or erase any data or information stored on the RoboCent system at anytime and the client is responsible for storing a backup of any data stored on the system.
          </p>


          <h3>Modification to Contract</h3>
          <p>
            RoboCent reserves the right to update and modify the terms of this agreement at anytime by posting the revisions to the RoboCent website. The client is responsible for regularly checking the Terms of Service for any changes and, by using the RoboCent system or our services after any changes is made, you agree to be bound by those changes.
          </p>


          <h3>Rules, Regulations and Guidelines</h3>
          <p>
            The client is solely responsible and liable for the transmission of any audio, voice or sound transmissions sent through the RoboCent system. RoboCent has no control, nor responsibility, over said content and shall not be expected to screen or otherwise approve of said content and, under no circumstance, shall be held liable for said content.
          </p>

          <p>
            The client shall not use RoboCent’s services to distribute any material (sound files, audio, voices), that may be construed as obscene, racist, malicious, fraudulent, libelous, harassing nor using the said services for any unethical, immoral or illegal activity.
          </p>

          <p>
            The Client will abide by all guidelines, rules and policies of RoboCent and of the carriers connected to its services.
          </p>

          <p>
            The Client is responsible for abiding by the rules, regulations and guidelines set forth by the Federal Trade Commission, the Federal Communication Commission, the United States Code, State Governments, and any local ordinances. Specifically, the client is aware and will abide by the National Do Not Call Registry and individual states’ Do Not Lists. The Subscriber agrees to not violate these or any other applicable Federal or State laws and represents and warrants that the Client’s use of RoboCent will not cause RoboCent to violate of these or similar laws.
          </p>

          <p>
            The Client agrees to not call or communicate with any cell phone or mobile device without the expressed written permission of the recipient.
          </p>

          <p>
            The Client is aware and understands the anti-solicitation provisions, amendments and the Federal Communication Commission’s regulations of the Federal Telephone Consumer Protection Act of 1991. The client agrees to not violate these provisions and represents and warrents that its use of RoboCent’s services will not cause RoboCent to violate these or similar laws.
          </p>

          <p>
            The Client understands and agrees that RoboCent will not be held responsible for any damages or fines to the Client or any third party due to the Client’s failure to abide by State and Federal Laws. You may view and refer to most, but not all, of these regulations at the Federal Communications Commission’s Web site at http://www.fcc.gov and the Federal Trade Commission Web site at http://www.fcc.gov.
          </p>

          <p>
            Please refer to your specific state’s Attorney General’s office for any laws imposed at the State level.
          </p>

          <p>
            The Client agrees and will be held responsible for any act or omission that occurs under the Client’s account, including the content of said transmission through the RoboCent system. The Client agrees to not use the RoboCent system to:
          </p>

          <p>
            Deliver unsolicited messages (spam) in any form.
          </p>

          <p>
            Create a false identity in an attempt to mislead others as to the identity of the sender.
          </p>

          <p>
            Transmit unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene or otherwise objectionable material of any kind or nature.
          </p>

          <p>
            Transmit any material that may infringe the intellectual property rights or other rights of third parties, including trademark, copyright or right of publicity.
          </p>

          <p>
            These specific rules are examples and are not intended to represent the entirety of all the prohibited messages that could be sent through the RoboCent system.
          </p>


          <h3>Client Registration</h3>
          <p>
            The client will provide and update all relevant information to RoboCent upon signing up for the RoboCent system. The client agrees that the Client and the Client’s organization will assume all financial responsibilities for using the RoboCent system.
          </p>


          <h3>General Provisions</h3>
          <p>
            This Agreement comprises all prior written and verbal communication and defines the entire scope of the agreement between the parties. In the event that any portion of the contract is held unenforceable, the surviving provisions hsall remain in effect and valid.
          </p>

          <p>
            This agreement is constructed and enforced under the laws of the Commonwealth of Virginia and  the client will submit to the jurisdiction of the State and Federal courts of Virginia.
          </p>

          <p>
            The client does not have the right to assign its rights under this contract and shall be binding on the client, their successors and legal representatives.
          </p>

          <p>
          The failure of RoboCent to exercise its right under this contract shall not be portrayed as RoboCent waiving said rights or terminating this agreement.
          </p>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!--/ content -->

    <!-- sidebar -->
    <%= render "shared/location" %>
    <!--/ sidebar -->

    <div class="clear"></div>
  </div>
</div>