<style>
  h3 .fullscreen {
    font-size:11pt;
    float:right;
    margin-right:10px
  }
</style>

<% title " - Video Tutorials" %>

<div class="header header_thin">
  <div class="container_12">
    <div class="breadcrumbs">
      <%= link_to "Homepage", root_path %>
      <span class="separator">&nbsp;</span>
      <a href="#">Our Hosting</a>
      <span class="separator">&nbsp;</span>
      Solutions
    </div>
  </div>
</div>


<div class="middle full_width">
  <div class="container_12">

    <!-- content -->
    <div class="content">

      <div class="post-item post-detail">

        <div class="post-title">
          <h1>We Make It Easy</h1>
        </div>

        <div class="entry">
        </div>
        <!--/ 2 column -->

        <div class="row">
          <div class="col col_1_3">
            <div class="inner">
              <h3>Getting Started <span class="fullscreen"><a href="http://www.youtube.com/v/8-5W6Hm5crE" target="_blank">Fullscreen</a></span></h3>
              <iframe width="306" height="172" src="http://www.youtube.com/embed/8-5W6Hm5crE" frameborder="0" allowfullscreen></iframe>
              <p>This video tutorial shows you how to get started on RoboCent.com by registering your account.</p>
            </div>
          </div>

          <div class="col col_1_3 ">
            <div class="inner">
              <h3>Billing Credits <span class="fullscreen"><a href="http://www.youtube.com/v/KOUx8X4zIk4" target="_blank">Fullscreen</a></span></h3>
              <iframe width="306" height="172" src="http://www.youtube.com/embed/KOUx8X4zIk4" frameborder="0" allowfullscreen></iframe>
              <p>This video tutorial explains RoboCent's billing system and how to add credits to your account.</p>
            </div>
          </div>

          <div class="col col_1_3 ">
            <div class="inner">
              <h3>Recordings <span class="fullscreen"><a href="http://www.youtube.com/v/zldyGlmK23c" target="_blank">Fullscreen</a></span></h3>
              <iframe width="306" height="172" src="http://www.youtube.com/embed/zldyGlmK23c" frameborder="0" allowfullscreen></iframe>
              <p>This tutorial explains how to upload recording files to the RoboCent system.</p>
            </div>
          </div>
        </div>

        <div class="divider"></div>

        <div class="row">
          <div class="col col_1_3">
            <div class="inner">
              <h3>Call Lists <span class="fullscreen"><a href="http://www.youtube.com/v/vl1KL8HLFYM" target="_blank">Fullscreen</a></span></h3>
              <iframe width="306" height="172" src="http://www.youtube.com/embed/vl1KL8HLFYM" frameborder="0" allowfullscreen></iframe>
              <p>This video tutorial explains how to upload a call list to the RoboCent system.</p>
            </div>
          </div>

          <div class="col col_1_3 ">
            <div class="inner">
              <h3>Creating a Call <span class="fullscreen"><a href="http://www.youtube.com/v/tDrWS8UpWOU" target="_blank">Fullscreen</a></span></h3>
              <iframe width="306" height="172" src="http://www.youtube.com/embed/tDrWS8UpWOU" frameborder="0" allowfullscreen></iframe>
              <p>This video tutorial explains how to create a robocall on the RoboCent system.</p>
            </div>
          </div>

          <div class="col col_1_3 ">
            <div class="inner">
              <h3>Promo Video <span class="fullscreen"><a href="http://www.youtube.com/v/lGJAhQXFB1A" target="_blank">Fullscreen</a></span></h3>
              <iframe width="306" height="172" src="http://www.youtube.com/embed/lGJAhQXFB1A" frameborder="0" allowfullscreen></iframe>
              <p>RoboCent provides 1¢ robocalls with no setup fee or hidden charges. Our support is available 7 days a week by phone or live chat.</p>
            </div>
          </div>
        </div>

        <div class="clear"></div>

        <div class="clear"></div>

        <div class="divider_space"></div>

        <p class="text-center">
          <%= link_to "CREATE AN ACCOUNT", "#", :class => "btn tf_btn_red" %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "VIEW OUR PRICING", pricing_path, :class => "btn tf_btn_green" %>
        </p>

        <div class="clear"></div>
      </div>
    </div>
    <!--/ content -->

    <div class="clear"></div>
  </div>
</div>